In [1]:
import pandas as pd
import numpy as np
from wrangle_telco import wrangle_telco

In [2]:
df = wrangle_telco()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               7043 non-null   object
 1   gender                    7043 non-null   object
 2   senior_citizen            7043 non-null   int64
 3   partner                   7043 non-null   int64
 4   dependents                7043 non-null   int64
 5   tenure                    7043 non-null   int64
 6   phone_service             7043 non-null   int64
 7   multiple_lines            7043 non-null   int64
 8   internet_service_type_id  7043 non-null   int64
 9   online_security           7043 non-null   int64
 10  online_backup             7043 non-null   int64
 11  device_protection         7043 non-null   int64
 12  tech_support              7043 non-null   int64
 13  streaming_tv              7043 non-null   int64
 14  streaming_movies          7043 non-null   int64
 15  contract_type_id          7043 non-null   int64
 16  paperless_billing         7043 non-null   int64
 17  payment_type_id           7043 non-null   int64
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   float64
 20  churn                     7043 non-null   int64
 21  internet_service_type     7043 non-null   object
 22  contract_type             7043 non-null   object
 23  payment_type              7043 non-null   object
 24  is_autopay                7043 non-null   bool
dtypes: bool(1), float64(2), int64(17), object(5)
memory usage: 1.3+ MB

In [4]:
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type,is_autopay
0,0003-MKNFE,Male,0,0,0,9,1,1,1,0,...,1,0,2,59.9,542.40,0,DSL,Month-to-month,Mailed check,False
1,0013-MHZWF,Female,0,0,1,9,1,0,1,0,...,1,1,4,69.4,571.45,0,DSL,Month-to-month,Credit card (automatic),True
2,0015-UOCOJ,Female,1,0,0,7,1,0,1,1,...,1,1,1,48.2,340.35,0,DSL,Month-to-month,Electronic check,False
3,0023-HGHWL,Male,1,0,0,1,0,0,1,0,...,1,1,1,25.1,25.10,1,DSL,Month-to-month,Electronic check,False
4,0032-PGELS,Female,0,1,1,1,0,0,1,1,...,1,0,3,30.5,30.50,1,DSL,Month-to-month,Bank transfer (automatic),True

In [5]:
df['gender'].dtype

dtype('O')

In [6]:
for col in df.columns:
    if df[col].dtype == 'O':
        print(df[col].value_counts(dropna=False))
        print('------------')
        print()

3714-XPXBW    1
9025-AOMKI    1
7018-WBJNK    1
8481-YYXWG    1
9700-ISPUP    1
             ..
9253-VIFJQ    1
1852-QSWCD    1
8763-KIAFH    1
6257-RJOHI    1
3541-ZNUHK    1
Name: customer_id, Length: 7043, dtype: int64
------------

Male      3555
Female    3488
Name: gender, dtype: int64
------------

Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64
------------

Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64
------------

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64
------------

In [7]:
# Create a csv file to import into Tableau

df.to_csv('telco.csv')